---
import Card from "../../andet/components/Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Eksempe1l</title>
	</head>
	<body>
		<h1>første YAYAYAYAY</h1>
		<h2>HIHINYÆNDRINGGGGG</h2>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae sit laudantium iusto, cum autem iure nesciunt rerum ut tempora non quidem dolorum explicabo, aliquam quasi ex! Exercitationem aliquam reiciendis impedit!</p>


<section>
<h2>Kort sektion</h2>
<Card img="/img/graf1.webp" tag="local CRTV" text="lorem blablabla"/>
<Card img="/img/graf2.webp" tag="global CRTV" text="lorem blablabla"/>
<Card img="/img/graf3.webp" tag="hidden gem " text="lorem blablabla"/>


</section>
	</body>
</html>
